#single-comic{
  gap: 30px;
  font-size: 1.2rem;  
  .bg-blue{
    margin-top: 150px;
    height: 150px;
    width: 100%;
    background-color: dodgerblue;
    margin-bottom: 2rem;
  }

  .img-container{
    height: 300px;
    position: absolute;
    left: 350px;
    top:30px;

    p{
      position: absolute;
      top: 0;
      background-color: #00A9D9;
      color: white;
      padding: 0.2rem;
      min-width: 45%;
    }

    img{
      height: 100%;
    }

    a{
      background-color: #00A9D9;
      position: absolute;
      bottom: 0;
      left: 0;
      color: white;
      font-weight: bold;
      text-align: center;
      width: 100%;
    }
  }

  .wrap{
    display: flex;
    gap: 2rem;
    padding-bottom: 5rem;
    border-bottom: 1px solid #777;

    .info{
      background-color: #55BA59;
      color: white;
      display: flex;
      margin-bottom: 1rem;
      align-items: center;

      .cost{
        display: flex;
        flex-grow: 1;
        justify-content: space-between;
        padding: 1.2rem 0.8rem;
        box-shadow: 1px 1px 0 black;

        p{
          color: #888;
        }

        span{
          color: white;
          font-weight: bolder;
        }
      }

      .check{
        padding: 1.2rem 0.8rem;
        box-shadow: 1px 1px 0 black;
      }
    }

  }

  .other-info{
    padding: 2rem 0;
    display: flex;
    gap: 20px;

    .side{
      flex-basis: 50%;
      h3{
        margin-bottom: 2rem;
      }

      > div{
        display: flex;
        font-size: 0.9rem;
        border-top: 1px solid #999;
        padding: 1rem 0;

        p{
          min-width: 30%;
        }

        a{
          color: blue;
          &:hover{
            text-decoration: underline;
          }
        }

        span{
          font-size: 0.85rem;
          display: inline-block;
        }
      }
    }


  }
}